* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
}

body {
  background-color: black;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Pixelify Sans", sans-serif;
  transition: background-color 0.7s ease;
  position: relative;
  padding-top: 2rem;
}

.main-cont {
  background-color: rgb(46, 57, 57);
  width: 500px;
  height: 500px;
  border: solid 1px white;
  box-shadow: 5px 5px 10px gray;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  transition: top 0.5s ease-out, background-color 0.5s ease;
}

h1 {
  color: rgb(224, 42, 224);
  font-size: 2.5rem;
  text-align: center;
}
h2 {
  color: yellow;
  text-align: center;
  margin-top: 2rem;
}
.pixel-art {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.art-box {
  width: 80px;
  height: 80px;
  overflow: hidden;
  margin-top: 3rem;
  box-shadow: 0px 0px gray;
  cursor: pointer;
  border: 2px solid black;
  transition: box-shadow 0.3s ease, transform 0.3s ease;
}

.art-box:hover {
  transform: scale(1.1);
  box-shadow: 3px 3px 5px gray;
}

@keyframes scaleBox {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

.art-box.animate {
  animation: scaleBox 0.2s ease-in-out;
}

.art-box img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

#output {
  color: rgb(8, 255, 78);
  font-size: 1.6rem;
  text-align: center;
  margin-top: 2rem;
}

#score {
  color: red;
  text-align: center;
  margin-top: 1rem;
}

#resetButton {
  text-align: center;
  margin-top: 1rem;
  cursor: pointer;
  width: 6rem;
  padding: 0.2rem 1rem;
  background: linear-gradient(
    100deg,
    rgb(131, 131, 131),
    white,
    rgb(131, 131, 131)
  );
  font-family: "Pixelify Sans", sans-serif;
  text-transform: uppercase;
}

.stats-page {
  width: 300px;
  height: 400px;
  background-color: white;
  color: black;
  border: 1px black solid;
  box-shadow: 5px 5px 10px gray;
  position: absolute;
  top: 15rem;
  left: calc(50%-150px);
  z-index: -5;
  transition: top 0.5s ease-out;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 1rem;
  background-color: lightblue;
}

.stats-page p {
  color: black;

  font-size: 1.3rem;
  font-family: "Jersey 20", sans-serif;
}

body:has(.stats-on:checked) {
  background-color: #01d3f3;
}

.main-cont:has(.stats-on:checked) {
  top: -10rem;
  background-color: rgb(171, 171, 171);
}

.main-cont:has(.stats-on:not(:checked)) {
  top: 0rem;
  background-color: rgb(46, 57, 57);
}

.main-cont:has(#stats:checked) ~ .stats-page {
  top: 65%;
}

.main-cont:has(#stats:not(:checked)) ~ .stats-page {
  top: calc(50%-200px);
}

.stats-check {
  margin-top: 1rem;
  color: rgb(0, 221, 255);
  cursor: pointer;
}

.stats-check label,
#stats {
  cursor: pointer;
}

@media (max-width: 500px) {
  .main-cont {
    width: 400px;
  }

  #output {
    font-size: 1.2rem;
  }
  h1 {
    font-size: 1.6rem;
  }

  h2 {
    font-size: 1.4rem;
  }
}
